# Pandas

data manipulation package that makes use of Numpy, uses mainly Series and Dataframes

In [13]:
import numpy as np
import pandas as pd

### Series

one dimensional arrays with axis labels (index)

In [15]:
# Series from list
x= pd.Series([10,20,30,40,50])
x

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [16]:
# Accessing index
x.index

RangeIndex(start=0, stop=5, step=1)

In [17]:
#accessing dtype, Series are ndarrays so they are homogeneous, only store one data type
x.dtype

dtype('int64')

In [19]:
# Series with index
data = [450,650,870]
Sales = pd.Series(data,index = ["Don","Mike","Edwin"])
Sales

Don      450
Mike     650
Edwin    870
dtype: int64

In [20]:
type(Sales)

pandas.core.series.Series

In [21]:
Sales.index

Index(['Don', 'Mike', 'Edwin'], dtype='object')

In [22]:
Sales["Don"]

450

In [23]:
Sales[0]

C:\Users\liamd\AppData\Local\Temp\ipykernel_10344\925086647.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Sales[0]

450

### Checking for conditions

In [24]:
Sales>500

Don      False
Mike      True
Edwin     True
dtype: bool

In [25]:
Sales[[False,True,True]]

Mike     650
Edwin    870
dtype: int64

In [26]:
Sales[Sales>500]

Mike     650
Edwin    870
dtype: int64

In [27]:
"Don" in Sales

True

In [28]:
"Liam" in Sales

False

In [29]:
450 in Sales

False

### Working with Dicts

In [32]:
#Series to dict
salesDict = Sales.to_dict()
salesDict

{'Don': 450, 'Mike': 650, 'Edwin': 870}

In [33]:
#Dict to Series

In [35]:
salesSer = Series(salesDict)
salesSer

Don      450
Mike     650
Edwin    870
dtype: int64

### Addomg entries and working with with MaM

In [38]:
#new series from existing
newSales = Series(Sales, index = ["Don", "Mike", "Edwin","Liam","Ryan"])
newSales

Don      450.0
Mike     650.0
Edwin    870.0
Liam       NaN
Ryan       NaN
dtype: float64

In [39]:
#Checking NaN values
np.isnan(newSales)

Don      False
Mike     False
Edwin    False
Liam      True
Ryan      True
dtype: bool

In [40]:
#Check for null values
pd.isnull(newSales)

Don      False
Mike     False
Edwin    False
Liam      True
Ryan      True
dtype: bool

### Naming components

In [41]:
Sales.index.name = "Sales person"
Sales

Sales person
Don      450
Mike     650
Edwin    870
dtype: int64

In [42]:
Sales.name = "Total tv sales"
Sales

Sales person
Don      450
Mike     650
Edwin    870
Name: Total tv sales, dtype: int64

## DataFrames

DataFrames are two-dimensional, size-mutable, potentially heterogeneous tabular data structures

In [45]:
# Creating a DF from a list
data = [["Adrian",20], ["Bethany", 23], ["Chloe", 41]]

#can specify what column names and data types on creation
df = pd.DataFrame(data, columns = ["Name", "Age"], dtype = int)
df

ValueError: invalid literal for int() with base 10: 'Adrian'